#wrapper{
    width: 100%;
    max-width: 520px;
    margin: 0px auto !important;
    padding: 0px;
}
#logo{
    height: 25vh;
    padding: 10px;
    background: #e0ded4 url('src/assets/img/beholder.png') no-repeat fixed center top;
    text-align: center;
}
h1{
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    color: #e0ded4;
    text-shadow: -2px 0 #464646, 0 2px #464646, 2px 0 #464646, 0 -2px #464646;
}
#content{
    background-color: whitesmoke;
    padding: 10px;
}
@media only screen and (min-width: 481px) {
    #logo{
        height: 15vh;
    }
}