<div id="wrapper">
    <div id="logo">
        <h1>HUNT THE WUMPUS</h1>
    </div>
    <div id="content">
        <app-inicio *ngIf="!getJuegoEmpezado() && !getFinDelJuego()"></app-inicio>
        <app-juego *ngIf="getJuegoEmpezado() && !getFinDelJuego()"></app-juego>
        <app-desenlace *ngIf="getJuegoEmpezado() && getFinDelJuego()"></app-desenlace>
    </div>    
</div>
