<!-- original controller https://codepen.io/injectilo/pen/MYJrmm -->
<div id="footer_mobile">
  <div id="cross_mobile">
    <div class="circle"></div>
    <div class="horizontal">
      <div class="arrowlf" (click)="girarDerecha()"></div>
      <div class="arrowrh" (click)="girarIzquierda()"></div>
    </div>
    <div class="vertical">
      <div class="arrowlf" (click)="retroceder()"></div>
      <div class="arrowrh" (click)="avanzar()"></div>
    </div>
    <div class="back-cross">
      <div class="horiz"></div>
      <div class="vert"></div>
    </div>
  </div>

  <div id="buttons-a-b_mobile">
    <div class="btn-border_mobile">
      <div class="btn-round a" (click)="lanzarFlecha()">
        <div class="st-a_mobile">A</div>
      </div>
    </div>
    <div class="btn-border_mobile">
      <div class="btn-round b" (click)="salir()">
        <div class="st-b_mobile">B</div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="controller">
    <div class="base">
      <div class="front">
        <div class="decoration">
          <div class="stickers">
            <div class="st-a">A</div>
            <div class="st-b">B</div>
          </div>
          <div class="decoration-central">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="cross">
          <div class="circle"></div>
          <div class="horizontal">
            <div class="arrowlf" (click)="girarDerecha()"></div>
            <div class="arrowrh" (click)="girarIzquierda()"></div>
          </div>
          <div class="vertical">
            <div class="arrowlf" (click)="retroceder()"></div>
            <div class="arrowrh" (click)="avanzar()"></div>
          </div>
          <div class="back-cross">
            <div class="horiz"></div>
            <div class="vert"></div>
          </div>
        </div>
        <div class="buttons-a-b">
          <div class="btn-border">
            <div class="btn-round a" (click)="salir()"></div>
          </div>
          <div class="btn-border">
            <div class="btn-round b" (click)="lanzarFlecha()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
