/* original controller https://codepen.io/injectilo/pen/MYJrmm */

#footer {
  position: fixed;
  bottom: 10px;
  justify-content: center;
  display: none;
}
#footer_mobile {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -15px;
  background-color: red;
  padding: 5px;
  height: 120px;
  background-color: #464646;
  background: linear-gradient(to bottom, #3a3e3b 0%, #232624 100%);
  box-shadow: inset 0px 1px 2px 1px rgba(0, 10, 0, 0.91);
}
#cross_mobile {
  height: 90px;
  width: 50%;
  position: relative;
  margin-top: 15px;
}

.controller {
  width: 500px;
  top: 30%;
  margin: 0 auto;
  position: relative;
}
#controller_mobile {
  width: 100%;
  height: 115px;
  background-color: #464646;
  background: linear-gradient(to bottom, #3a3e3b 0%, #232624 100%);
  box-shadow: inset 0px 1px 2px 1px rgba(0, 10, 0, 0.91);
  display: flex;
}
#cross_mobile_container {
  flex-grow: 1;
}
#buttons-a-b_mobile {
  height: 50px;
  width: 50%;
  flex-grow: 1;
  align-self: flex-end;
}
.base {
  width: 500px;
  height: 187px;
  background-color: #e0ded4;
  border-radius: 4px;
  border: 1px solid #464646;
  z-index: 1;
}
.front {
  position: relative;
  top: 5px;
  margin: 0 auto;
  width: 480px;
  height: 167px;
  background-color: #464646;
  background: linear-gradient(to bottom, #3a3e3b 0%, #232624 100%);
  box-shadow: inset 0px 1px 2px 1px rgba(0, 10, 0, 0.91);
}
.cross {
  position: absolute;
  left: 24px;
  top: 50px;
  width: 110px;
  height: 90px;
}

.back-cross {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 105px;
  height: 40px;
  background-color: #e0ded4;
  z-index: 1;
  border: 1px black solid;
}

.back-cross .vert {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 105px;
  height: 40px;
  background-color: #e0ded4;
  z-index: 1;
  border-radius: 4px;
  transform: rotate(90deg);
}

.horizontal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #252725;
  z-index: 2;
  border-radius: 1px;
}

.vertical {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #252725;
  z-index: 2;
  border-radius: 1px;
  transform: rotate(90deg);
  box-shadow: inset 3px 0px 0px 0px rgba(255, 255, 255, 0.61);
}
.arrowlf:after {
  content: "";
  position: absolute;
  top: -17px;
  bottom: -18px;
  left: -25px;
  right: -10px;
}
.arrowrh:after {
  content: "";
  position: absolute;
  top: -17px;
  bottom: -18px;
  left: -10px;
  right: -25px;
}
.arrowlf {
  right: 5px;
  top: 6px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 12px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.3;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.61);
}
.arrowlf:before {
  content: "";
  width: 10px;
  height: 13px;
  background-color: black;
  position: absolute;
  left: -20px;
  top: -6px;
}
.arrowrh {
  left: 5px;
  top: 6px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 12px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.3;
  box-shadow: inset 0px 7px 1px 2px rgba(255, 255, 255, 0.91);
}
.arrowrh:before {
  content: "";
  width: 10px;
  height: 13px;
  background-color: black;
  position: absolute;
  left: 10px;
  top: -6px;
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgb(22, 22, 22) 30%,
    rgb(58, 58, 58) 100%
  );
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 4;
  border-radius: 50%;
  box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.1);
}

.buttons-a-b {
  position: absolute;
  right: 26px;
  top: 80px;
  height: 50px;
}

.btn-border,
.btn-border_mobile {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #edece7;
}
.btn-border {
  float: left;
  margin: 6px;
}
.btn-border_mobile {
  float: right;
  margin: 0px 10px 10px 0px;
}

.btn-round {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 36px;
  height: 36px;
  background: linear-gradient(to bottom, #df2015 0%, #f84936 100%);
  border-radius: 50%;
  float: left;
  border: 1px rgba(0, 0, 0, 0.51) solid;
  box-shadow: inset 0px 1px 2px 0px #fbfbfb, 0px 1px 1px 0px rgba(0, 0, 0, 0.71);
  text-align: center;
}
.btn-round:active {
  top: 1px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  box-shadow: inset 0px 0px 1px 0px #fbfbfb, 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.btn-central {
  position: relative;
  top: 3px;
  width: 42px;
  height: 18px;
  background-color: #464646;
  border-radius: 10px;
  border: 1px solid #272723;
  margin: 9px 13px;
  float: left;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
}
.btn-central:active {
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.51);
}

.decoration-central div {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin: 7px auto;
  top: 0;
  width: 150px;
  height: 28px;
  background-color: #7b836c;
  border-radius: 10px;
  opacity: 0.8;
  z-index: 2;
}

.stickers {
  font-family: "Orbitron", sans-serif;
  color: #df2015;
  position: absolute;
  z-index: 10;
}
.st-a,
.st-b,
.st-a_mobile,
.st-b_mobile {
  font-weight: bold;
}
.st-b {
  position: absolute;
  left: 374px;
  top: 140px;
}
.st-a {
  position: absolute;
  left: 434px;
  top: 140px;
}
.st-a_mobile,
.st-b_mobile {
  color: #464646;
  padding: 5px;
}

@media only screen and (min-width: 520px) {
  #footer {
    display: flex;
  }
  #footer_mobile {
    display: none;
  }
}
@media only screen and (min-width: 800px) and (min-height: 1000px) {
  #footer {
    bottom: 150px;
  }
}
