/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Orbitron';
    src: url('src/assets/fonts/Orbitron-VariableFont_wght.ttf');
}

body{
    background-color: #e0ded4;
    margin: 0px;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
}