<div id="explicacion">
  <p>
    Bienvenid@ a Hunt the Wumpus. Tendrás que explorar las casillas, recoger el
    oro y volver a la posición inicial con vida para ganar.
  </p>
  <p>Al Wumpus podrás matarlo con una flecha, sin embargo, es opcional.</p>
  <p>
    Evita caer en los pozos o ser devorado por el Wumpus y todo irá bien. Claro
    que, está muy oscuro y solo percibirás lo que tienes muy cerca.
  </p>
  <p>Parámetros del juego:</p>
</div>
<div id="parametros">
  <div>
    <label>Tamaño del tablero</label>
    <input type="number" [(ngModel)]="x" (change)="valoresModificados($event)" />x
    <input type="number" [(ngModel)]="y" (change)="valoresModificados($event)" />    
  </div>
  <div>
    <label>Cant. Pozos</label>
    <input type="number" [(ngModel)]="pozos" (change)="valoresModificados($event)" />
  </div>
  <div>
    <label>Cant. Flechas</label>
    <input type="number" [(ngModel)]="flechas" (change)="valoresModificados($event)" />
  </div>
</div>
<div id="aviso" *ngIf="mostrarAviso">
    <label>El tablero no puede ser inferior a 2x2 y no puede haber más pozos que casillas libres en el tablero.</label>
</div>
<div id="botonera">
  <button type="button" title="empezar" (click)="lanzarJuego()">Empezar</button>
</div>
