#explicacion, label, button{
    color: #464646;
}
#parametros{
    display: flex;
    justify-content: space-between;
}
label{
    display: block;
}
input{
    width: 40px;
    margin: 0 2px 2px 0px;
    font-family: 'Orbitron', sans-serif;
}
#botonera{
    text-align: right;
}
button{
    margin: 1em 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border-color: #464646;
    background-color: #e0ded4;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
}
button:hover{
    color: #e0ded4;
    background-color: #464646;
    box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.51);
}