<div id="explicacion">
  <p *ngFor="let entrada of desenlace">{{entrada}}</p>
</div>
<div id="botonera">
  <button type="button" title="reiniciar" (click)="reiniciarJuego()">Volver a jugar</button>
</div>
